<nav>
    <div class="site-title">
        <a href="/">
            <h1>iRegister</h1>
        </a>
        <p>A Class Registration Site</p>
    </div>
    <ul>
        <li><a href="/">Classes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/add">Add Class</a></li>
    </ul>
</nav>