<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>

        <h1>Welcome to iRegister!</h1>
        <p>Here is where you can register for classes...</p>
        <p>More coming soon...</p>

            <%- include("../partials/footer.ejs") %>
    </body>

</html>